#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "tinyfeed"
name = "Tinyfeed"
description.en = "Generate a static HTML page from a collection of feeds"
description.fr = "Générer une page HTML statique à partir d'un ensemble de flux"

version = "1.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://feed.lovergne.dev/"
demo = "https://feed.lovergne.dev/demo/"
admindoc = "https://feed.lovergne.dev/"
code = "https://github.com/TheBigRoomXXL/tinyfeed"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/example"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]

    [resources.sources.main]
    rename = "tinyfeed"
    in_subdir = false
    extract = false
    amd64.url = "https://github.com/TheBigRoomXXL/tinyfeed/releases/download/v1.3.0/tinyfeed_linux_amd64"
    amd64.sha256 = "cde19d8ea4d24376c77b68ec476aa74925b3bb60ff0034fa7562f834d88cf6a6"
    arm64.url = "https://github.com/TheBigRoomXXL/tinyfeed/releases/download/v1.3.0/tinyfeed_linux_arm64"
    arm64.sha256 = "cde19d8ea4d24376c77b68ec476aa74925b3bb60ff0034fa7562f834d88cf6a6"

    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
